In [17]:
import pyspark
from pyspark.sql import SparkSession
import gzip
import shutil
import pandas as pd
from pyspark.sql import types

In [3]:
spark = SparkSession.builder.master("local[*]").appName("test").getOrCreate()

In [4]:

!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhvhv/fhvhv_tripdata_2021-01.csv.gz

^C

In [5]:
with gzip.open("fhvhv_tripdata_2021-01.csv.gz", 'rb') as f_in:
    with open("fhvhv_tripdata_2021-01.csv", 'wb') as f_out:
        shutil.copyfileobj(f_in, f_out)

In [6]:
df = spark.read.csv("fhvhv_tripdata_2021-01.csv", header=True, inferSchema=True)
df.show()
df.count()

+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|hvfhs_license_num|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|           HV0003|              B02682|2021-01-01 00:33:44|2021-01-01 00:49:07|         230|         166|   NULL|
|           HV0003|              B02682|2021-01-01 00:55:19|2021-01-01 01:18:21|         152|         167|   NULL|
|           HV0003|              B02764|2021-01-01 00:23:56|2021-01-01 00:38:05|         233|         142|   NULL|
|           HV0003|              B02764|2021-01-01 00:42:51|2021-01-01 00:45:50|         142|         143|   NULL|
|           HV0003|              B02764|2021-01-01 00:48:14|2021-01-01 01:08:42|         143|          78|   NULL|
|           HV0005|              B02510|2021-01-01 00:06:59|2021-01-01 00:43:01|          88|          42|   NULL|
|           HV0005|              B02510|2021-01-01 00:50:00|2021-01-01 01:04:57|          42|         151|   NULL|
|           HV0003|              B02764|2021-01-01 00:14:30|2021-01-01 00:50:27|          71|         226|   NULL|
|           HV0003|              B02875|2021-01-01 00:22:54|2021-01-01 00:30:20|         112|         255|   NULL|
|           HV0003|              B02875|2021-01-01 00:40:12|2021-01-01 00:53:31|         255|         232|   NULL|
|           HV0003|              B02875|2021-01-01 00:56:45|2021-01-01 01:17:42|         232|         198|   NULL|
|           HV0003|              B02835|2021-01-01 00:29:04|2021-01-01 00:36:27|         113|          48|   NULL|
|           HV0003|              B02835|2021-01-01 00:48:56|2021-01-01 00:59:12|         239|          75|   NULL|
|           HV0004|              B02800|2021-01-01 00:15:24|2021-01-01 00:38:31|         181|         237|   NULL|
|           HV0004|              B02800|2021-01-01 00:45:00|2021-01-01 01:06:45|         236|          68|   NULL|
|           HV0003|              B02682|2021-01-01 00:11:53|2021-01-01 00:18:06|         256|         148|   NULL|
|           HV0003|              B02682|2021-01-01 00:28:31|2021-01-01 00:41:40|          79|          80|   NULL|
|           HV0003|              B02682|2021-01-01 00:50:49|2021-01-01 00:55:59|          17|         217|   NULL|
|           HV0005|              B02510|2021-01-01 00:08:40|2021-01-01 00:39:39|          62|          29|   NULL|
|           HV0003|              B02836|2021-01-01 00:53:48|2021-01-01 01:11:40|          22|          22|   NULL|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
only showing top 20 rows

11908468

In [7]:
df.schema

StructType([StructField('hvfhs_license_num', StringType(), True), StructField('dispatching_base_num', StringType(), True), StructField('pickup_datetime', TimestampType(), True), StructField('dropoff_datetime', TimestampType(), True), StructField('PULocationID', IntegerType(), True), StructField('DOLocationID', IntegerType(), True), StructField('SR_Flag', IntegerType(), True)])

In [12]:
df_pandas = pd.read_csv("fhvhv_tripdata_2021-01.csv")

In [14]:
df_pandas.dtypes

hvfhs_license_num        object
dispatching_base_num     object
pickup_datetime          object
dropoff_datetime         object
PULocationID              int64
DOLocationID              int64
SR_Flag                 float64
dtype: object

In [15]:
spark.createDataFrame(df_pandas).schema

StructType([StructField('hvfhs_license_num', StringType(), True), StructField('dispatching_base_num', StringType(), True), StructField('pickup_datetime', StringType(), True), StructField('dropoff_datetime', StringType(), True), StructField('PULocationID', LongType(), True), StructField('DOLocationID', LongType(), True), StructField('SR_Flag', DoubleType(), True)])

In [28]:
schema = types.StructType([
         types.StructField("hvfhs_license_num", types.StringType(), True),
         types.StructField("dispatching_base_num", types.StringType(), True),
         types.StructField("pickup_datetime", types.TimestampType(), True),
         types.StructField("dropoff_datetime", types.TimestampType(), True),
         types.StructField("PULocationID", types.IntegerType(), True),
         types.StructField("DOLocationID", types.IntegerType(), True),
         types.StructField("SR_Flag", types.IntegerType(), True)
         
         
         ]
    )

In [29]:
df= spark.read.option("header", True).schema(schema).csv("fhvhv_tripdata_2021-01.csv")

In [33]:
df.show(10)

+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|hvfhs_license_num|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|           HV0003|              B02682|2021-01-01 00:33:44|2021-01-01 00:49:07|         230|         166|   NULL|
|           HV0003|              B02682|2021-01-01 00:55:19|2021-01-01 01:18:21|         152|         167|   NULL|
|           HV0003|              B02764|2021-01-01 00:23:56|2021-01-01 00:38:05|         233|         142|   NULL|
|           HV0003|              B02764|2021-01-01 00:42:51|2021-01-01 00:45:50|         142|         143|   NULL|
|           HV0003|              B02764|2021-01-01 00:48:14|2021-01-01 01:08:42|         143|          78|   NULL|
|           HV0005|              B02510|2021-01-01 00:06:59|2021-01-01 00:43:01|          88|          42|   NULL|
|           HV0005|              B02510|2021-01-01 00:50:00|2021-01-01 01:04:57|          42|         151|   NULL|
|           HV0003|              B02764|2021-01-01 00:14:30|2021-01-01 00:50:27|          71|         226|   NULL|
|           HV0003|              B02875|2021-01-01 00:22:54|2021-01-01 00:30:20|         112|         255|   NULL|
|           HV0003|              B02875|2021-01-01 00:40:12|2021-01-01 00:53:31|         255|         232|   NULL|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
only showing top 10 rows

In [36]:
df = df.repartition(24)

In [38]:
df.write.parquet('fhvhv/2021/01/')

In [39]:
df = spark.read.parquet('fhvhv/2021/01/')

In [41]:
df.show()

+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|hvfhs_license_num|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|           HV0005|              B02510|2021-01-01 21:12:43|2021-01-01 21:22:10|          42|         243|   NULL|
|           HV0003|              B02765|2021-01-01 13:31:31|2021-01-01 13:41:50|         225|          37|   NULL|
|           HV0005|              B02510|2021-01-02 07:53:35|2021-01-02 08:16:24|         130|         265|   NULL|
|           HV0005|              B02510|2021-01-02 18:40:02|2021-01-02 19:03:22|          85|         177|   NULL|
|           HV0003|              B02765|2021-01-01 14:55:01|2021-01-01 15:05:32|         232|         114|   NULL|
|           HV0003|              B02866|2021-01-03 00:27:18|2021-01-03 00:36:45|          14|          22|   NULL|
|           HV0003|              B02872|2021-01-01 01:34:17|2021-01-01 01:49:01|         172|         221|   NULL|
|           HV0003|              B02866|2021-01-01 13:05:55|2021-01-01 13:19:06|         250|         254|   NULL|
|           HV0003|              B02882|2021-01-02 09:58:20|2021-01-02 10:35:25|         186|         265|   NULL|
|           HV0004|              B02800|2021-01-01 07:14:31|2021-01-01 07:32:41|          79|          25|   NULL|
|           HV0003|              B02871|2021-01-02 22:49:36|2021-01-02 23:03:54|          17|         225|   NULL|
|           HV0003|              B02867|2021-01-02 16:32:53|2021-01-02 17:03:46|          49|          21|   NULL|
|           HV0003|              B02884|2021-01-02 06:34:54|2021-01-02 06:52:07|          39|         218|   NULL|
|           HV0003|              B02864|2021-01-03 00:11:58|2021-01-03 00:20:49|          85|          91|   NULL|
|           HV0003|              B02869|2021-01-03 00:12:39|2021-01-03 00:18:41|         159|          42|   NULL|
|           HV0003|              B02682|2021-01-01 07:56:40|2021-01-01 08:20:18|          45|          29|   NULL|
|           HV0005|              B02510|2021-01-02 11:39:21|2021-01-02 11:59:00|         229|         231|   NULL|
|           HV0003|              B02875|2021-01-02 12:45:46|2021-01-02 12:56:08|         234|         230|   NULL|
|           HV0003|              B02878|2021-01-02 04:44:30|2021-01-02 04:55:52|          32|         136|   NULL|
|           HV0003|              B02682|2021-01-01 17:49:51|2021-01-01 17:58:31|          14|         228|   NULL|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
only showing top 20 rows

In [42]:
df.printSchema()

root
 |-- hvfhs_license_num: string (nullable = true)
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- SR_Flag: integer (nullable = true)

In [44]:
df.select('pickup_datetime', 'dropoff_datetime','PULocationID', 'DOLocationID').filter(df.hvfhs_license_num == 'HV0003').show(5)

+-------------------+-------------------+------------+------------+
|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|
+-------------------+-------------------+------------+------------+
|2021-01-01 13:31:31|2021-01-01 13:41:50|         225|          37|
|2021-01-01 14:55:01|2021-01-01 15:05:32|         232|         114|
|2021-01-03 00:27:18|2021-01-03 00:36:45|          14|          22|
|2021-01-01 01:34:17|2021-01-01 01:49:01|         172|         221|
|2021-01-01 13:05:55|2021-01-01 13:19:06|         250|         254|
+-------------------+-------------------+------------+------------+
only showing top 5 rows

In [45]:
from pyspark.sql import functions as F

In [49]:
def crazy_stuff(base_num):
    num = int(base_num[1:])
    if num % 7 == 0:
        return f's/{num:03x}'
    elif num % 3 == 0:
        return f'a/{num:03x}'
    else:
        return f'e/{num:03x}'

In [51]:
crazy_stuff('B02884')

's/b44'

In [52]:
crazy_stuff_udf = F.udf(crazy_stuff, returnType=types.StringType())

In [ ]:
df.withColumn('pickup_datetime', F.to_date(df.pickup_datetime)) \
  .withColumn('dropoff_datetime', F.to_date(df.dropoff_datetime)) \
  .withColumn('base_id', crazy_stuff_udf(df.dispatching_base_num)) \
  .select('base_id','pickup_datetime', 'dropoff_datetime', 'PULocationID', 'DOLocationID') \
  .show()

+---------------+----------------+------------+------------+
|pickup_datetime|dropoff_datetime|PULocationID|DOLocationID|
+---------------+----------------+------------+------------+
|     2021-01-01|      2021-01-01|          42|         243|
|     2021-01-01|      2021-01-01|         225|          37|
|     2021-01-02|      2021-01-02|         130|         265|
|     2021-01-02|      2021-01-02|          85|         177|
|     2021-01-01|      2021-01-01|         232|         114|
|     2021-01-03|      2021-01-03|          14|          22|
|     2021-01-01|      2021-01-01|         172|         221|
|     2021-01-01|      2021-01-01|         250|         254|
|     2021-01-02|      2021-01-02|         186|         265|
|     2021-01-01|      2021-01-01|          79|          25|
|     2021-01-02|      2021-01-02|          17|         225|
|     2021-01-02|      2021-01-02|          49|          21|
|     2021-01-02|      2021-01-02|          39|         218|
|     2021-01-03|      2021-01-03|          85|          91|
|     2021-01-03|      2021-01-03|         159|          42|
|     2021-01-01|      2021-01-01|          45|          29|
|     2021-01-02|      2021-01-02|         229|         231|
|     2021-01-02|      2021-01-02|         234|         230|
|     2021-01-02|      2021-01-02|          32|         136|
|     2021-01-01|      2021-01-01|          14|         228|
+---------------+----------------+------------+------------+
only showing top 20 rows