In [2]:
import pandas as pd

In [51]:
pd.__version__

'2.2.3'

In [52]:
df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=100)

In [53]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [6]:
from sqlalchemy import create_engine

In [7]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [56]:
engine.connect()

In [57]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee TEXT
)

In [58]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [59]:
df = next(df_iter)

In [60]:
len(df)

100000

In [61]:
pd.to_datetime(df.tpep_pickup_datetime)
pd.to_datetime(df.tpep_pickup_datetime)

0       2021-01-01 00:30:10
1       2021-01-01 00:51:20
2       2021-01-01 00:43:30
3       2021-01-01 00:15:48
4       2021-01-01 00:31:49
                ...
99995   2021-01-04 14:04:31
99996   2021-01-04 14:18:46
99997   2021-01-04 14:42:41
99998   2021-01-04 14:39:02
99999   2021-01-04 14:49:36
Name: tpep_pickup_datetime, Length: 100000, dtype: datetime64[ns]

In [62]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10.000000,2021-01-01 00:36:12.000000,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5,\N
1,1,2021-01-01 00:51:20.000000,2021-01-01 00:52:19.000000,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,\N
2,1,2021-01-01 00:43:30.000000,2021-01-01 01:11:06.000000,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0,\N
3,1,2021-01-01 00:15:48.000000,2021-01-01 00:31:01.000000,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0,\N
4,2,2021-01-01 00:31:49.000000,2021-01-01 00:48:21.000000,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5,\N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,1,2021-01-04 14:04:31.000000,2021-01-04 14:08:52.000000,3,0.70,1,N,234,224,2,5.0,2.5,0.5,0.00,0.0,0.3,8.30,2.5,\N
99996,1,2021-01-04 14:18:46.000000,2021-01-04 14:35:45.000000,2,3.30,1,N,234,236,1,14.5,2.5,0.5,3.55,0.0,0.3,21.35,2.5,\N
99997,1,2021-01-04 14:42:41.000000,2021-01-04 14:59:22.000000,2,4.70,1,N,236,79,1,17.0,2.5,0.5,4.05,0.0,0.3,24.35,2.5,\N
99998,2,2021-01-04 14:39:02.000000,2021-01-04 15:09:37.000000,2,17.95,2,N,132,148,1,52.0,0.0,0.5,5.00,0.0,0.3,60.30,2.5,\N
99999,2,2021-01-04 14:49:36.000000,2021-01-04 14:54:44.000000,5,0.37,1,N,236,236,2,5.0,0.0,0.5,0.00,0.0,0.3,8.30,2.5,\N

In [63]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [64]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: total: 2.86 s
Wall time: 8.62 s

1000

In [65]:
from time import time

In [66]:
while True:
    t_start = time()
    df = next(df_iter)
    
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    
    t_end = time()
    
    print('inserted another chunk, took %.3f second' % (t_end - t_start))

inserted another chunk, took 8.844 second
inserted another chunk, took 8.190 second
inserted another chunk, took 8.300 second
inserted another chunk, took 8.771 second
inserted another chunk, took 9.087 second
inserted another chunk, took 9.413 second

C:\Users\hoang\AppData\Local\Temp\ipykernel_18624\4178230015.py:6: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

inserted another chunk, took 9.697 second
inserted another chunk, took 10.298 second
inserted another chunk, took 10.041 second
inserted another chunk, took 8.974 second
inserted another chunk, took 8.357 second

C:\Users\hoang\AppData\Local\Temp\ipykernel_18624\4178230015.py:3: DtypeWarning: Columns (3,5,17) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

DataError: (psycopg2.errors.InvalidTextRepresentation) invalid input syntax for type bigint: "\N"
LINE 1: ...47'::timestamp, '2021-01-01T00:54:51'::timestamp, '\N', 15.9...
                                                             ^

[SQL: INSERT INTO yellow_taxi_data (index, "VendorID", tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, "RatecodeID", store_and_fwd_flag, "PULocationID", "DOLocationID", payment_type, fare_amount, extra, mta_tax, tip_amount, tol ... 474788 characters truncated ... vement_surcharge__999)s, %(total_amount__999)s, %(congestion_surcharge__999)s, %(airport_fee__999)s)]
[parameters: {'PULocationID__0': 166, 'tpep_dropoff_datetime__0': datetime.datetime(2021, 1, 31, 23, 3, 50), 'payment_type__0': 1, 'congestion_surcharge__0': '0', 'store_and_fwd_flag__0': 'N', 'trip_distance__0': 0.7, 'index__0': 1271000, 'DOLocationID__0': 41, 'total_amount__0': 8.15, 'tip_amount__0': 1.35, 'tolls_amount__0': 0.0, 'tpep_pickup_datetime__0': datetime.datetime(2021, 1, 31, 22, 58, 26), 'VendorID__0': 1, 'mta_tax__0': 0.5, 'RatecodeID__0': '1', 'improvement_surcharge__0': 0.3, 'passenger_count__0': '1', 'airport_fee__0': '\\N', 'extra__0': 0.5, 'fare_amount__0': 5.5, 'PULocationID__1': 230, 'tpep_dropoff_datetime__1': datetime.datetime(2021, 1, 31, 22, 18, 38), 'payment_type__1': 1, 'congestion_surcharge__1': '2.5', 'store_and_fwd_flag__1': 'N', 'trip_distance__1': 0.7, 'index__1': 1271001, 'DOLocationID__1': 246, 'total_amount__1': 10.8, 'tip_amount__1': 2.0, 'tolls_amount__1': 0.0, 'tpep_pickup_datetime__1': datetime.datetime(2021, 1, 31, 22, 14, 8), 'VendorID__1': 1, 'mta_tax__1': 0.5, 'RatecodeID__1': '1', 'improvement_surcharge__1': 0.3, 'passenger_count__1': '0', 'airport_fee__1': '\\N', 'extra__1': 3.0, 'fare_amount__1': 5.0, 'PULocationID__2': 186, 'tpep_dropoff_datetime__2': datetime.datetime(2021, 1, 31, 23, 18, 7), 'payment_type__2': 1, 'congestion_surcharge__2': '2.5', 'store_and_fwd_flag__2': 'N', 'trip_distance__2': 5.6, 'index__2': 1271002, 'DOLocationID__2': 52, 'total_amount__2': 27.95, 'tip_amount__2': 4.65 ... 19900 parameters truncated ... 'tolls_amount__997': 0.0, 'tpep_pickup_datetime__997': datetime.datetime(2021, 1, 1, 9, 51), 'VendorID__997': 2, 'mta_tax__997': 0.5, 'RatecodeID__997': '\\N', 'improvement_surcharge__997': 0.3, 'passenger_count__997': '\\N', 'airport_fee__997': '\\N', 'extra__997': 0.0, 'fare_amount__997': 12.22, 'PULocationID__998': 136, 'tpep_dropoff_datetime__998': datetime.datetime(2021, 1, 1, 9, 7), 'payment_type__998': 0, 'congestion_surcharge__998': '\\N', 'store_and_fwd_flag__998': '\\N', 'trip_distance__998': 1.68, 'index__998': 1271998, 'DOLocationID__998': 220, 'total_amount__998': 22.61, 'tip_amount__998': 2.75, 'tolls_amount__998': 0.0, 'tpep_pickup_datetime__998': datetime.datetime(2021, 1, 1, 9, 1), 'VendorID__998': 2, 'mta_tax__998': 0.5, 'RatecodeID__998': '\\N', 'improvement_surcharge__998': 0.3, 'passenger_count__998': '\\N', 'airport_fee__998': '\\N', 'extra__998': 0.0, 'fare_amount__998': 19.06, 'PULocationID__999': 254, 'tpep_dropoff_datetime__999': datetime.datetime(2021, 1, 1, 9, 31), 'payment_type__999': 0, 'congestion_surcharge__999': '\\N', 'store_and_fwd_flag__999': '\\N', 'trip_distance__999': 0.99, 'index__999': 1271999, 'DOLocationID__999': 254, 'total_amount__999': 23.12, 'tip_amount__999': 2.75, 'tolls_amount__999': 0.0, 'tpep_pickup_datetime__999': datetime.datetime(2021, 1, 1, 9, 27), 'VendorID__999': 2, 'mta_tax__999': 0.5, 'RatecodeID__999': '\\N', 'improvement_surcharge__999': 0.3, 'passenger_count__999': '\\N', 'airport_fee__999': '\\N', 'extra__999': 0.0, 'fare_amount__999': 19.57}]
(Background on this error at: https://sqlalche.me/e/20/9h9h)

In [3]:
df_zones = pd.read_csv(r"D:\Docker_SQL\taxi_zone_lookup.csv")

In [4]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [8]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265